
    <!-- Start intro section -->
	
    <section id="intro" class="section-intro">
      <div class="overlay">
        <div class="container">
          <div class="main-text">
            <h1 class="intro-title"><span style="color: #3498DB;"><span style = "color: #44f134;">ESWATINI HERBAL SOLUTIONS</span></span></h1>
            <p class="sub-title">We sell African traditional medicine to treat sicknesses and to resolve spiritual or ancestral problems. You can now make an online <strong>order</strong>. Join us today by creating an account so as to be granted access to our platform. Registration is free of charge.<br> 
                                 		                                                                                                             
		     COVID-19 Cases in Eswatini <a target="_blank" href = "https://www.worldometers.info/coronavirus/country/swaziland/"><span class = "label label-success">View Statistic</span></a></p>
			     {{#if login}}
				     <a href = "/dashboard"><button class="btn btn-common btn-search pull-center"><strong><i class = "lnr lnr-cart"></i>My Orders</strong></button></a>
			     {{else}}
				     <a href = "/signin"><button class="btn btn-common btn-search pull-center"><strong><i class = "lnr lnr-cart"></i>Order Now</strong></button></a>
			    {{/if}} 
				
            <!-- End Search box -->
          </div>
        </div>
      </div>
    </section>
    <!-- end intro section -->
	
    <div id="categories-homepage featured-lis" style="background:#E6E6FA; margin-bottom:-55px;"> 
        <div class="container">
            <div class="row">
		        <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s" id= "slide">
                    <h3 class="section-title" style = "color:grey">OUR TRENDING PRODUCTS</h3>
                    <div id="new-products" >
					{{#each products}}
                        <div class="item">
                            <div class="product-item">
                                <div class="carousel-thumb">
                                    <a  href="/product-d/{{this.id}}"><img src="{{this.image}}" alt="Product Image">
									<br>
									<h4 style = "font-weight:600;">Treating</h4>
									<ul class = "list-inline">
									 {{#each summary}}
										 <li>{{this}}</li>
										
									 {{/each}}	 
									</ul>
									 <a href="/product-d/{{this.id}}" class="btn btn-common btn-go-to-index center-block" href="/listing" style = "margin-top:10px;"><span class="lnr lnr-leaf"></span> {{this.title}}</a>
                                </div>  
                            </div>
                        </div>
					{{/each}}
                    </div>
                </div>
            </div>
		</div>
    </div>
<br>

    {{#if accRemoval}}
	<div class = "modal fade" id= "myModal" tabindex = "-1" role = "dialog" aria-labelledby= "myModalLabel" aria-hidden = "true">
                    <div class= "modal-dialog">
	                     <div class="modal-content">
		                     <div class = "modal-header">
			                     <button type= "button" class = "close" data-dismiss = "modal" aria-hidden = "true">X</button>
				                 <h3 style = "color:#D3D3D3" id = "myModalLabel">Account DELETED successfuly.</h3>
			                </div>
			                <div class ="modal-body">

				             <blockquote>
				                 <p style = "color:#D3D3D3"> Thank you for working with us. We hope and believe that you join us gain in the near future.</i>
								                              
				                 <small>Store Manager<cite title="Source Title"> Marco De'Sousa</small></p>
				             <blockquote>

			            </div>
		            </div>
	            </div>
      
	{{/if}}
	<div class="services">
        <div class="container">
		    <h3 class="section-title" style = "text-align:center;">MORE POWERFUL HERBAL SOLUTIONS</h3>
            <div class="row" style = "margin-bottom:60px;">
                <div class="col-md-4">
				    <a href ="/relations">
						<div class="service-item first-service">
							<div class="service-icon"></div>
								<h4>LOVE & ATTRACTION</h4>
								<p>Our special and delicate herbal mixtures [Tiwasho] are powerful enough to cure failing relationships, marriages, friendships, and more.</p> 
						</div>                               
					</a>	
                </div>
				
                <div class="col-md-4">
				     <a href ="wealth">
						<div class="service-item second-service">
						   <div class="service-icon"></div>
							<h4>WEALTH & SUCCESS</h4>
							<p>We are also in possesion of more herbal mixtures which can be used for achieving luck, business success, successful gambling, money, power and respect.</p>
                               
						</div>
					</a>	
                </div>
				
                <div class="col-md-4">
				    <a href ="/treatment">
						<div class="service-item third-service">
							<div class="service-icon"></div>
							<h4>HERBAL NUTRITION</h4>
							<p> No matter how severe your illness, we can still treat or even cure it. Our traditional herbal medicine is capable of healing all kinds of illnesses. Just try us today.</p>
						</div>
					</a>	
                </div>
			</div>
            </div>
        </div>
    </div>