 <!-- Page Header Start -->
    <div class="page-header" style="background: url(assets/img/2.jpg);">
      <div class="container">
        <div class="row">         
          <div class="col-md-12">
            <div class="breadcrumb-wrapper">
              <h2 class="page-title">{{headin}}</h2>
			  <div class = "cartView">
				<a class = "label label-danger" href = '/shopping-cart' data-toggle = "tooltip" title = "View Your Item List" data-placement = "bottom" style= "margin-top:20px;"><i class = "lnr lnr-cart"></i> Items In Cart  <span class = "badge" style = "background:#006400;">{{session.cart.totalQty}}</strong></a>
              </div>
			</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
	<ul id = "myTab" class = "nav nav-tabs navigation">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
	 <li><a href = "#"> About Us</a></li>
	 <li><a href = "/listing"><i class = "lnr lnr-list"></i> Herbal Nutrition</a></li>
    <li><a href = "/affection"><i class = "lnr lnr-list"></i> Love & Affection</a></li>
	<li><a href = "/wealth"><i class = "lnr lnr-list"></i> Wealth & Success</a></li>
	<li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
	<li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
	<li><a href = "/signup"><i class = "lnr lnr-user"></i> Create Account</a></li>
	
    </ul>
	
<div style="background:#E6E6FA">
    <div class="container">		
		 <div class = "formContainer">
		    <h3 class="section-title"><small>{{result}}</small></h3>
			<div class="row">
				 <div class = "col-sm-12 col-md-6">
			    <div class = "tru-product">
				     <img src = "{{product.imagePath}}" alt = "" class = "img-responsive">
			    </div>		 
			</div>
			 <div class = "col-sm-12 col-md-6">
				    <table class = "table table-condensed">
						<tr> 
						<th>Product: </th>
							 <td><i class = "lnr lnr-leaf"></i><strong style = "color: #006400";> {{product.title}}</strong></td>
						</tr> 
						
						<tr>
						<th>Effectiveness:</th>
							<td  class = "progress-striped">		      
								<div class = "progress-bar progress-bar-success" role ="progressbar" aria-valuenow= "80" aria-valuemin= "0" aria-valuemax = "100" style= "width: 80%;">
									 80 %
								</div>
							</td>
						</tr>
						
						<tr>
							<th>Availability:</th>
							<td class = "progress-striped">
							     <div class = "progress-bar progress-bar-success" role ="progressbar" aria-valuenow= "80" aria-valuemin= "0" aria-valuemax = "100" style= "width: 60%;">
									 60 %
								</div>
							</td>
						</tr>
						
						<tr>
							<th>Price:</th>
							<td><strong>SZL: {{product.price}}</strong></td>
						</tr>
						
						<tr>
							<th>Volume:</th>
							<td>{{product.volume}}</td>
						</tr>
						
						
						
						<tr>
							<th>Description:</th>
							<td>{{product.description}}</td>
						</tr>
						 
						
			    </table>  

             <a href = "/add-to-cart/{{product._id}}" class="btn btn-common-description center-block"><i class = "lnr lnr-cart"></i> Add To Cart</a>				
	         
			</div>	
	</div>
	

	
	
<ul id = "myTab" class = "nav nav-tabs">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
    <li>
	    <a href = "#home" data-toggle = "tab">
		    <i class= "lnr lnr-chevron-down"></i> Treatment
		</a>
	</li>
	
	<li><a href = "#ios" data-toggle = "tab"><i class= "lnr lnr-chevron-down"></i> Instructions</a></li>
	
<!--<li><a href = "#me" data-toggle = "tab"><i class= "lnr lnr-chevron-down"></i> Testimonials</a></li>-->
	
	
</ul>

<div id = "myTabContent" class ="tab-content">
    <div class= "tab-pane fade in active" id = "home">
	    <p class = "well">
		     <strong>{{product.description}}</strong>
		</p>
	</div>
	<div class= "tab-pane fade" id = "ios">
	    <p class = "well">
		     <strong>{{product.instructions}}</strong>
		</p>
	</div>
	<div class= "tab-pane fade" id = "me">
	    <p class = "well">
		     <strong>{{product.testimonials}}</strong>
		</p>
	</div>
	
</div>
			</div>			
		</div>
    </div>
</div>

<ul id = "myTab" class = "nav nav-tabs descNavigation">
     <li><a href = "/"><i class = "lnr lnr-home"></i> Home</a></li>
	 <li><a href = "#"> About Us</a></li>
	 <li><a href = "/listing"><i class = "lnr lnr-list"></i> Herbal Nutrition</a></li>
    <li><a href = "/affection"><i class = "lnr lnr-list"></i> Love & Affection</a></li>
	<li><a href = "/wealth"><i class = "lnr lnr-list"></i> Wealth & Success</a></li>
	<li><a href = "/dashboard"><i class = "lnr lnr-user"></i> Dashboard</a></li>
	<li><a href = "/contact"><i class = "lnr lnr-envelope"></i> Contact Us</a></li>
	<li><a href = "/signup"><i class = "lnr lnr-user"></i> Create Account</a></li>
    <li><a href = "/shopping-cart"><i class = "lnr lnr-cart"></i> Your Cart <span class = "badge">{{session.cart.totalQty}}</span></a></li>
	
    </ul>
